# Ignoră directorul node_modules
node_modules/

# Ignorăm fișierul package-lock.json (opțional)
package-lock.json

# Ignorăm fișierele de mediu (environment variables)
.env

# Ignorăm fișierele de debug
*.log

# Ignorăm fișierele generate de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Ignorăm fișierele de sistem
.DS_Store
Thumbs.db
